<!DOCTYPE html>
<html>
<body>

<!-- user_name_input is a string but will eventually refer to another html file on the navigation bar where the student will enter their name -->
<script>
var user_name = 'user_name_input'
</script>

<div id="header"> 
<h1 align="center"><b>Name's embedded Google Calendar</b></h1>

<style>
#header {
    background-color:#00FFFF;
    color:white;
    text-align:center;
    padding:5px;
}
</style>
</div>

<p>
	<div style="text-align: center;">
	<iframe src="https://www.google.com/calendar/embed?src=wellesley.edu_adshmal6eq32q4hl2e82v05c7c%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600"frameborder="0" scrolling="no">
	</iframe></div>
</p>


</body>
</html>

