<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../style/homeindexstyle.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="537436294997-b4mc8h6u8mp27iri1lp5ecammou4hbm8.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title> life.</title>
</head>
  <h id="life"><b> life.</h></b>
<body>
  <!-- LOGO -->
    <img src="balancecut.png" style="width:555px;height:410px" id ="balance">
<!-- SMALL FIX -->
  <div style="width:15px;height:15px;border:0px;" id ="smallfix"></div> 

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };

</script>
<!-- <a href="#" onclick="signOut();">Sign out</a> -->
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>

<p id="or"><b>or</b></p>

<button class="ui button active" id="facebook-button">Sign up via Facebook</button>
<button class="ui button active" id="google-button">Sign up via Google</button>

<!-- Remove later? <script src="https://facebook.github.io/react/js/jsfiddle-integration.js"></script>-->

<script src="semantic/dist/semantic.min.js"></script>

</html>

