<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="../style/hellopagestyle.css">	
		<link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
		
		<script src="myscripts.js"></script>

		<title>life.</title>
	</head>
	<body>
		<!-- <label id="life-label">life.</label> -->
		<h id="welcome"> Welcome back, person!</h>
		<!-- Panel? -->
		<div class="ui vertical text menu">
 		 	<a class="item">Home</a>
  			<a class="item">Tasks</a>
  			<a class="item">Rewards</a>
  			<a class="item">Calendar</a>
  			<a class="item">Account</a>
  			<a class="item">Settings</a>
		</div>
		<div class="info">Today is this date.</div>
		<div class="info">You have this number of points left.</div>
		<div class="info">You have completed this many tasks.</div>
	</body>
	<script src="semantic/dist/semantic.min.js"></script>
</html>