<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<link rel="stylesheet" href="../style/style.css">-->
<!--<link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">-->
<!--<title>life.</title>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>        <script language="javascript" type="text/javascript" src="semantic/dist/semantic.min.js"></script>-->
<!--<script language="javascript" type="text/javascript">-->
<!--$('.sidebar').sidebar('toggle');-->

<!--$('.welcome').transition('fade up');-->

<!--$('.welcome').transition('tada');-->

<!--$('.menu .item').tab();-->
<!--</script>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; <label id="life-label">life.</label> &ndash;&gt;-->
<!--<h id="welcome"> Welcome back, person!</h>-->
<!--&lt;!&ndash; Panel? &ndash;&gt;-->
<!--<div class="ui top attached tabular menu">-->
<!--<a class="active item" data-tab="home">Home</a>-->
<!--<a class="item" data-tab="tasks">Tasks</a>-->
<!--<a class="item" data-tab="rewards">Rewards</a>-->
<!--<a class="item" data-tab="calendar">Calendar</a>-->
<!--<a class="item" data-tab="account">Account</a>-->
<!--<a class="item" data-tab="help">Help</a>-->
<!--</div>-->
<!--<div class="ui bottom attached active tab segment" data-tab="home">-->
<!--<div class="info">Today is this date.</div>-->
<!--<div class="info">You have this number of points left.</div>-->
<!--<div class="info">You have completed this many tasks.</div>-->
<!--</div>-->
<!--<div class="ui bottom attached tab segment" data-tab="tasks">-->
<!--Tasks-->
<!--</div>-->
<!--<div class="ui bottom attached tab segment" data-tab="rewards">-->
<!--Rewards-->
<!--</div>-->
<!--<div class="ui bottom attached tab segment" data-tab="calendar">-->
<!--Calendar-->
<!--</div>-->
<!--<div class="ui bottom attached tab segment" data-tab="account">-->
<!--Account-->
<!--</div>-->
<!--<div class="ui bottom attached tab segment" data-tab="help">-->
<!--Help-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Tabs - Content via Ajax</title>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
    <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../jquery-ui/jquery-ui.min.css">
    <script src="../jquery-ui/external/jquery/jquery.js"></script>
    <script src="../jquery-ui/jquery-ui.min.js"></script>
    <script>
  $(function() {
    $( "#tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.fail(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
        });
      }
    });
  });

    </script>
</head>
<body>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Preloaded</a></li>
        <li><a href="help.html">Tab 1</a></li>
        <li><a href="ajax/content2.html">Tab 2</a></li>
    </ul>
    <div id="tabs-1">
        <p>Today is October 4th, 2015 date. You have 75 number of points left. You have completed 17 tasks.</p>
    </div>
</div>

</body>
</html>