<!DOCTYPE html>
<html>

<!-- RANDOM BEGINNING STUFF -->
	<head>
		<link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../style/taskstyle.css">	
		
		<script src="myscripts.js"></script>
		<script src="semantic/dist/semantic.min.js"></script>

		<title>tasks.</title>
		<p>  </p>
	</head>

<!-- TOP HEADING ITEMS -->
	<!-- TOP BACKGROUND -->
	<div style="width:100%;height:103px;border:0px solid #000;" id ="top"></div>
	<body>
	
	<!-- TASKS LABEL -->
	<h id="tasks"> tasks.</h>

	<!-- SIDE BAR -->
	<!-- <div class="ui vertical text menu" id="sidebar">
 		<a class="item">Home</a>
  		<a class="item">Tasks</a>
  		<a class="item">Rewards</a>
  		<a class="item">Calendar</a>
  		<a class="item">Account</a>
  		<a class="item">Settings</a>
		</div> -->

	<!-- BUTTON THINGIE -->
	<div class="ui icon button" data-title="New Event" data-content= "ui form" id="addEvent" <i class="add icon"></i></div>

	<!-- AESTHETIC BOX -->
	<div style="width:700px;height:22px;border:0px solid #000;" id ="aestheticBox"></div>

	<!-- LIFE. LOGO -->
	<p id="lifeLogo"><b> life. </b></p>

	<!-- USER NAME AND PIC -->
	<img src="sohie.png" style="width:30px;height:28px" id ="sohie">
	</div>

	<p id="name">Sohie Lee</p>
	<p id="bankNum">: 25 points</p>

<!-- FILTER PANEL -->
<div style="width:175px;height:100%;border:0px;" id ="filter"></div> 
<p id="refine"><b>Refine by</b></p>
	
	<!-- CATEGORIES -->
	<p id="category"><b>Category</b></p>

	<p id="cat1"><b>Work</b></p>
	<p id="cat2"><b>Social</b></p>
	<p id="cat3"><b>Chores</b></p>
	<p id="cat4"><b>Habits</b></p>
	
	<div style="width:15px;height:15px;border:0px;" id ="catbox1"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="catbox2"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="catbox3"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="catbox4"></div> 

	<!-- DIFFICULTIES -->
	<p id="difficulty"><b>Difficulty</b></p>

	<p id="diff1"><b>High</b></p>
	<p id="diff2"><b>Medium</b></p>
	<p id="diff3"><b>Low</b></p>
	<p id="diff4"><b>Trivial</b></p>
	
	<div style="width:15px;height:15px;border:0px;" id ="diffbox1"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="diffbox2"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="diffbox3"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="diffbox4"></div> 

	<!-- TIME -->
	<p id="timeCat"><b>Time</b></p>

	<p id="time1"><b>Today</b></p>
	<p id="time2"><b>This Week</b></p>
	<p id="time3"><b>This Month</b></p>
	<p id="time4"><b>Timeless</b></p>
	
	<div style="width:15px;height:15px;border:0px;" id ="timebox1"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="timebox2"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="timebox3"></div> 
	<div style="width:15px;height:15px;border:0px;" id ="timebox4"></div> 

<!-- MAIN PANEL -->
	<!-- TITLE HEADING -->
	<p id="hello"><b>Today, October 4, 2015</b></p>

	<!-- CHECK BOX CIRCLES -->
	<div style="width:30px;height:30px;border:1px;" id ="circ1"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ2"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ3"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ4"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ5"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ6"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ7"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ8"></div> 
	<div style="width:30px;height:30px;border:1px;" id ="circ9"></div> 
	<!-- TASKS -->
	<p id="task1">Do laundry</p>
	<div class="hr" id="line1"><hr /></div>
	<p id="task2">Finish CS 230 problem set</p>
	<div class="hr" id="line2"><hr /></div>
	<p id="task3">Call Mom and Dad</p>
	<div class="hr" id="line3"><hr /></div>
	<p id="task4">Put shoes back where they belong</p>	
	<div class="hr" id="line4"><hr /></div>
	<p id="task5">Buy groceries (milk, eggs, fruit, etc.)</p>
	<div class="hr" id="line5"><hr /></div>
	<p id="task6">Get oil changed</p>
	<div class="hr" id="line6"><hr /></div>
	<p id="task7">Set up lunch appointment with Amy</p>
	<div class="hr" id="line7"><hr /></div>
	<p id="task8">Start studying for Econ midterm</p>
	<div class="hr" id="line8"><hr /></div>
	<p id="task9">Buy Natalie's birthday present</p>
	<div class="hr" id="line9"><hr /></div>

	<!-- POINTS -->
	<p id="points1">15 points</p>
	<p id="points2">25 points</p>
	<p id="points3">10 points</p>
	<p id="points4">5 points</p>
	<p id="points5">15 points</p>
	<p id="points6">10 points</p>
	<p id="points7">15 points</p>
	<p id="points8">25 points</p>
	<p id="points9">10 points</p>




<!-- top heading items end -->

<!-- Form -->
<!-- <form class="ui form">
  <h4 class="ui dividing header">New Task</h4>
  <div class="field">
    <label>Task Name</label>
      <div class="field">
        <input type="text" name="shipping[first-name]" placeholder="First Name">
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Difficulty</label>
      <select class="ui fluid dropdown">
        <option value="">Select Difficulty</option>
    <option value="High">High</option>
    <option value="Medium">Medium</option> 
    <option value="Low">Low</option>
    <option value="Trivial">Trivial</option>
      </select>
    </div>
   <div class="field">
      <label>Category</label>
      <select class="ui fluid dropdown">
        <option value="">Select Category</option>
    <option value="Work">Work</option>
    <option value="Social">Social</option> 
    <option value="Chores">Chores</option>
    <option value="Habits">Habits</option>
      </select>
  </div>
      </div>
    </div>
  </div>
  <div class="fields">
      <label>Date:</label>
      <div class="three fields">
        <div class="field">
          <select class="ui fluid search dropdown" name="date[month]">
            <option value="">Month</option>
            <option value="13">None</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="field">
        	<input type="text" name="date[day]" maxlength ="2" placeholder ="Day">
       	</div>
        <div class="field">
          <input type="text" name="date[year]" maxlength="4" placeholder="Year">
         </div>
  		<label>Time:</label>
  		<div class="field">
  			<input type="text" class="hours" name="time[hours]" maxlength="2" placeholder="Hours"/>
  		</div>
  		<label id="timee">:</label>
  		<div class="field">
  			<input type="text" id="minutes" name="time[minutes]" maxlength="2" placeholder="Minutes"/>
  		</div>

</div></div>
   <div class="ui button" id = "uibutton" tabindex="0">Submit</div> 
</form> -->
	</body>
<!-- end form -->

</html>