/*calendarstyle.css*/

/* Task page CSS stylesheet */

#calendar{
	color:#FFFFFF;
	font-size:50px;
	position: absolute;
	top: 50px;
	left:45px;
	text-align: left;
	font-weight: bold;
}

.info{
	color:#003366;
	font-size: 20px;
	text-align: center;
}

#life-label{
	position:fixed;
}

label{
	margin-top: 10px;
	margin-right: 8px;
}

#uibutton{
	margin-top: 10px;
	background-color: #E8E8E8;
}

#timee{
	margin-top: 10px;
}
#sidebar{
	position: relative;
	top:40px;
	left:30px;
}

#top{
	margin-top:-15px;
	background-color: #00CCCC;
}

#addEvent{
	position:absolute;
	color: #E5E5E5;
	top:54px;
	left:285px;
}

#aestheticBox{
	background-color:#E8E8E8	;
	border-radius: 3px;
	position:absolute;
	top:54px;
	left:315px;
}

#lifeLogo{
	color: #F6F6F6;
	position:absolute;
	top:10px;
	left:95%;
	font-size: 20px;	
}

#sohie{
	position:absolute;
	top:2px;
	left:10px;
}

#name{
	position:absolute;
	top:6px;
	left:40px;
	color:#F6F6F6;
	font-size:14px;
}

#bankNum{
	position:absolute;
	top:6px;
	left:100px;
	color:#F6F6F6;
	font-size:14px;
}

#filter{
	background-color:#DCDCDC;
	position:absolute;
	top:6px;
	z-index:-2;
}


#refine{
	color: #6A6A6A;
	position:absolute;
	left:15px;
	top:125px;
	font-size:17px;
}

#category{
	color: #2A2A2A;
	position:absolute;
	left:32px;
	top:148px;
	font-size:21px;
}

#cat1{
	color:#545454;
	position:absolute;
	left:55px;
	top:183px;
	font-size:14px;
}

#cat2{
	color:#545454;
	position:absolute;
	left:55px;
	top:203px;
	font-size:14px;
}

#cat3{
	color:#545454;
	position:absolute;
	left:55px;
	top:223px;
	font-size:14px;
}

#cat4{
	color:#545454;
	position:absolute;
	left:55px;
	top:243px;
	font-size:14px;
}

#catbox1{
	background-color:#FF3399;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:185px;
}

#catbox2{
	background-color:#33CCFF;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:205px;
}

#catbox3{
	background-color:#33CC33;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:225px;
}

#catbox4{
	background-color:#CC66FF;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:245px;
}

#difficulty{
	color: #2A2A2A;
	position:absolute;
	left:32px;
	top:278px;
	font-size:21px;
}

#diff1{
	color:#545454;
	position:absolute;
	left:55px;
	top:313px;
	font-size:14px;
}

#diff2{
	color:#545454;
	position:absolute;
	left:55px;
	top:333px;
	font-size:14px;
}

#diff3{
	color:#545454;
	position:absolute;
	left:55px;
	top:353px;
	font-size:14px;
}

#diff4{
	color:#545454;
	position:absolute;
	left:55px;
	top:373px;
	font-size:14px;
}

#diffbox1{
	background-color:#CC0000;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:315px;
}

#diffbox2{
	background-color:#FF6600;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:335px;
}

#diffbox3{
	background-color:#FF99CC;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:355px;
}

#diffbox4{
	background-color:#FFCC00;
	position:absolute;
	border-radius: 3px;
	left:32px;
	top:375px;
}

#googleCal{
	position:absolute;
	left:250px;
	top:145px;
	color: #FFCC00;