/* Home index CSS stylesheet */

#title {
	color:#00CCCC; 
	position: relative;
	font-size: 100px;
	text-align: center;
}

.info {
	text-align: center;
}

#facebook-button {
	color:#003399;
	margin:0 auto;
	display:block;
	margin-bottom: 10px;
	background-color: #99CCFF;
}

#google-button{
	color:#003399;
	margin:0 auto;
	display:block;
	background-color: #99CCFF; 
}


.homepage{
	color:#00CCCC;
	/*margin-bottom:100px;*/
	display:block;  
    margin:0 auto 10px; 
}
