/* Home index CSS stylesheet */

#life{
	color:#FFFFFF;
	font-size:130px;
	position:absolute;
	top:275px;
	left:478px;
	z-index: 1;
	/*font-weight:300;*/
}

.info {
	text-align: center;
}

#smallfix{
	position:absolute;
	left:635px;
	top:275px;
	background-color:#00CCCC;
	z-index:0;
}

#balance {	
	position:absolute;
	left:291.2px;
	top:28px;
	z-index: -1;
}

#facebook-button {
	color:#E5E5E5;
	margin:0 auto;
	display:block;
	margin-bottom: 10px;
	background-color: #949494;
	position:absolute;
	top:375px;
	left:377px;
}

#google-button{
	color:#E5E5E5;
	margin:0 auto;
	display:block;
	background-color: #949494; 
	position:absolute;
	top:375px;
	left:589px;
}

#or{
	font-size:16px;
	color:#4C4C4C;
	position:absolute;
	top:381px;
	left:560px;
}
body{
	background-color: #00CCCC;
}
.homepage{
	color:#00CCCC;
	/*margin-bottom:100px;*/
	display:block;  
    margin:0 auto 10px; 
}
