/* Home index CSS stylesheet */

#title {
	color:#00CCCC; 
	position: relative;
	font-size: 100px;
	text-align: center;
}

.info {
	text-align: center;
}

#facebook-button {
	color:#E6FAFA;
	margin:0 auto;
	display:block;
	margin-bottom: 10px;
	background-color: #00CCCC;
	position:absolute;
	top:400px;
	left:42%;
}

#google-button{
	color:#E6FAFA;
	margin:0 auto;
	display:block;
	background-color: #00CCCC; 
	position:absolute;
	top:350px;
	left:42.8%;
}


.homepage{
	color:#00CCCC;
	/*margin-bottom:100px;*/
	display:block;  
    margin:0 auto 10px; 
}
