/* Hello page CSS stylesheet */

#welcome {
	color:#00CCCC;
	font-size:50px;
	margin-bottom: 100px; 
	text-align: center;
}

.info {
	color:#003366;
	font-size: 20px;
	text-align: center;
}

#life-label{
	position:fixed;
}

/* Home index CSS stylesheet */

#title {
	color:#00CCCC; 
	position: relative;
	font-size: 100px;
	text-align: center;
#life{
	color:#FFFFFF;
	font-size:130px;
	position:absolute;
	top:275px;
	left:42%;
#title {
	color:#00CCCC;
	position: relative;
	font-size: 100px;
	text-align: center;
}

.info {
	text-align: center;
}

#facebook-button {
	color:#E5E5E5;
	margin:0 auto;
	display:block;
	margin-bottom: 10px;
	background-color: #949494;
	position:absolute;
	top:375px;
	left:32%;
}

#google-button{
	color:#E5E5E5;
	margin:0 auto;
	display:block;
	background-color: #00CCCC; 
	background-color: #949494; 
	background-color: #99CCFF; 
	background-color: #99CCFF;
	background-color: #00CCCC; 
	position:absolute;
	top:375px;
	left:53%;
}

#or{
	font-size:16px;
	color:#4C4C4C;
	position:absolute;
	top:381px;
	left:49%;
}
body{
	background-color: #00CCCC;
}
.homepage{
	color:#00CCCC;
	/*margin-bottom:100px;*/
	display:block;
    margin:0 auto 10px;
}
