/* Hello page CSS stylesheet */

#welcome {
	color:#00CCCC;
	font-size:50px;
	margin-bottom: 100px; 
	text-align: center;
}

.info {
	color:#003366;
	font-size: 20px;
	text-align: center;
}

#life-label{
	position:fixed;
}

/* Home index CSS stylesheet */

#title {
	color:#00CCCC;
	position: relative;
	font-size: 100px;
	text-align: center;
}

.info {
	text-align: center;
}

#facebook-button {
	color:#E6FAFA;
	margin:0 auto;
	display:block;
	margin-bottom: 10px;
	background-color: #00CCCC;
	position:absolute;
	top:400px;
	left:42%;
}

#google-button{
	color:#E6FAFA;
	margin:0 auto;
	display:block;
	background-color: #99CCFF; 
	background-color: #99CCFF;
	background-color: #00CCCC; 
	position:absolute;
	top:350px;
	left:42.8%;
}


.homepage{
	color:#00CCCC;
	/*margin-bottom:100px;*/
	display:block;
    margin:0 auto 10px;
}
