{% load staticfiles %}
<!-- <label id="life-label">life.</label> -->
<h1 id="welcome"> welcome back, Sohie.</h1>
<!-- USER NAME AND PIC -->
<img src="{% static 'polaroid.png' %}" style="width:280px;height:320px" id ="polaroid">

<div class="info" id="dateStatement" >today is October 4, 2015.</div>
<div class="info" id="bankStatement" >you have 25 points in your account</div>
<div class="info" id="taskStatement" >and you have 9 tasks scheduled for today.</div>

<!-- LIFE. LOGO -->
<p id="lifeLogo"><b> life. </b></p>