<!doctype html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>jQuery UI Tabs - Content via Ajax</title>
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
        <script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
        <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style/hellopagestyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/taskstyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
		<script src="{% static 'myscript.js' %}"></script>
		<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style/calendarstyle.css' %}">
        <script>
          $(function() {
            $('.menu .item').tab();
          });
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
        <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    </head>
    <body>

    <div id="tabs">
    </div>

    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="eva">Account</a>
        <a class="item" data-tab="tasks">Tasks</a>
        <a class="item" data-tab="rewards">Rewards</a>
        <a class="item" data-tab="calendar">Calendar</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="eva">
        {% include 'eva.html' %}
    </div>
    <div class="ui bottom attached tab segment" data-tab="tasks">
        {% include 'tasks.html' %}
    </div>
    <div class="ui bottom attached tab segment" data-tab="rewards">
        <a href="rewards.html">Rewards</a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="calendar">
        <a href="Calendar.html">Calendar</a>
    </div>
</body>
</html>