{% load staticfiles %}

<!-- TASKS LABEL -->
<h1 id="tasks"><b> tasks.</b></h1>

<!-- SIDE BAR -->
<!-- <div class="ui vertical text menu" id="sidebar">
	<a class="item">Home</a>
	<a class="item">Tasks</a>
	<a class="item">Rewards</a>
	<a class="item">Calendar</a>
	<a class="item">Account</a>
	<a class="item">Settings</a>
	</div> -->

<!-- BUTTON THINGIE -->
<div class="ui icon button" data-title="New Event" data-content= "ui form" id="addEvent"> <i class="add icon"></i></div>

<!-- AESTHETIC BOX -->
<div style="width:700px;height:22px;border:0px solid #000;" id ="aestheticBox"></div>

<!-- LIFE. LOGO -->
<p id="lifeLogo"><b> life. </b></p>

<!-- USER NAME AND PIC -->
<img src="{% static 'sohie.png' %}" style="width:30px;height:28px" id ="sohie">

<p id="name">Sohie Lee</p>
<p id="bankNum">: 25 points</p>

<!-- FILTER PANEL -->
<div style="width:175px;height:100%;border:0px;" id ="filter"></div> 
<p id="refine"><b>Refine by</b></p>

<!-- CATEGORIES -->
<p id="category"><b>Category</b></p>

<p id="cat1"><b>Work</b></p>
<p id="cat2"><b>Social</b></p>
<p id="cat3"><b>Chores</b></p>
<p id="cat4"><b>Habits</b></p>

<div style="width:15px;height:15px;border:0px;" id ="catbox1"></div>
<div style="width:15px;height:15px;border:0px;" id ="catbox2"></div>
<div style="width:15px;height:15px;border:0px;" id ="catbox3"></div>
<div style="width:15px;height:15px;border:0px;" id ="catbox4"></div>

<!-- DIFFICULTIES -->
<p id="difficulty"><b>Difficulty</b></p>

<p id="diff1"><b>High</b></p>
<p id="diff2"><b>Medium</b></p>
<p id="diff3"><b>Low</b></p>
<p id="diff4"><b>Trivial</b></p>

<div style="width:15px;height:15px;border:0px;" id ="diffbox1"></div>
<div style="width:15px;height:15px;border:0px;" id ="diffbox2"></div>
<div style="width:15px;height:15px;border:0px;" id ="diffbox3"></div>
<div style="width:15px;height:15px;border:0px;" id ="diffbox4"></div>

<!-- TIME -->
<p id="timeCat"><b>Time</b></p>

<p id="time1"><b>Today</b></p>
<p id="time2"><b>This Week</b></p>
<p id="time3"><b>This Month</b></p>
<p id="time4"><b>Timeless</b></p>

<div style="width:15px;height:15px;border:0px;" id ="timebox1"></div>
<div style="width:15px;height:15px;border:0px;" id ="timebox2"></div>
<div style="width:15px;height:15px;border:0px;" id ="timebox3"></div>
<div style="width:15px;height:15px;border:0px;" id ="timebox4"></div>

<!-- MAIN PANEL -->
<!-- TITLE HEADING -->
<p id="hello"><b>Today, October 4, 2015</b></p>

<!-- CHECK BOX CIRCLES -->
<div style="width:30px;height:30px;border:1px;" id ="circ1"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ2"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ3"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ4"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ5"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ6"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ7"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ8"></div>
<div style="width:30px;height:30px;border:1px;" id ="circ9"></div>
<!-- TASKS -->
<p id="task1">Do laundry</p>
<div class="hr" id="line1"><hr /></div>
<p id="task2">Finish CS 230 problem set</p>
<div class="hr" id="line2"><hr /></div>
<p id="task3">Call Mom and Dad</p>
<div class="hr" id="line3"><hr /></div>
<p id="task4">Put shoes back where they belong</p>
<div class="hr" id="line4"><hr /></div>
<p id="task5">Buy groceries (milk, eggs, fruit, etc.)</p>
<div class="hr" id="line5"><hr /></div>
<p id="task6">Get oil changed</p>
<div class="hr" id="line6"><hr /></div>
<p id="task7">Set up lunch appointment with Amy</p>
<div class="hr" id="line7"><hr /></div>
<p id="task8">Start studying for Econ midterm</p>
<div class="hr" id="line8"><hr /></div>
<p id="task9">Buy Natalie's birthday present</p>
<div class="hr" id="line9"><hr /></div>

<!-- POINTS -->
<p id="points1">15 points</p>
<p id="points2">25 points</p>
<p id="points3">10 points</p>
<p id="points4">5 points</p>
<p id="points5">15 points</p>
<p id="points6">10 points</p>
<p id="points7">15 points</p>
<p id="points8">25 points</p>
<p id="points9">10 points</p>
